---
import Base from "@/layouts/Base.astro";
---

<Base title="You are subscribed" description="Thanks for subscribing to Clienvora.">
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 md:col-8 lg:col-6 text-center">
          <h1 class="h2 mb-4">You are on the list</h1>
          <p class="mb-8">
            Thanks for subscribing to the B2B Organic Growth Dispatch. Check your
            inbox to confirm your address, then look out for the next issue.
          </p>
          <a href="/blog" class="btn btn-primary">Read the latest posts</a>
        </div>
      </div>
    </div>
  </section>
</Base>
